/* Hero */
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
    padding: 0;

}
.hero-container h1 {
  margin: 0;
}
.hero-container p {
  width: 80%;
  margin: 20px 0;
  line-height: 1.6;
}
.hero-content {
  margin: 250px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: url("../../Assets/images/hero-mobile.png") no-repeat top;
  background-size: contain;
}

@media only screen and (min-width: 990px) {
  .hero-container {
    flex-direction: row;
  }
  .hero-content {
    margin: 0;
    align-items: start;
    text-align: start;
  }
  .hero-img {
    height: 100vh;
    background: url("../../Assets/images/hero.png") no-repeat center;
    background-size: contain;
  }
}