.dropdown {
  display: inline-block;
  cursor: pointer;
}
/* Dropdown Button Desktop */
.dropbtn {
  text-align: center;
  padding: 4px 16px;
  font-size: 14px;
  background: var(--white);
  color: var(--gray-dark);
  text-transform: unset;
  border: solid 1px var(--light-gray);
  border-radius: 10px;
  box-shadow: none;
}
.icon-down {
  width: 20px;
}
/* Dropdown Content Language Menu (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 115px;
  border-radius: 10px;
  box-shadow: var(--shadow-md);
  z-index: 1;
  border: solid 1px var(--light-gray);
}
.dropdown-content p {
  color: var(--gray-dark);
}
.on {
  display: block;
}
