:root {
  --green: #3cdaaf;
  --green-light: hsla(164, 68%, 55%, 0.16);
  --green-dark: #02978a;
  --bg-light-green: #e6faf8;
  --purple: #9d6eff;
  --light-purple: #9286d0;
  --dark-purple: #5543ac;
  --white: #ffffff;
  --gray: #807e7e;
  --light-gray: #f6f6f6;
  --bg-light-gray: #f4f4f4;
  --gray-dark: #0e0e0e;
  --black: #0e0e0ee7;
  --yellow: #fee52c;
  --gradient: linear-gradient(30deg, #d5c4ff 0%, #9e70ff 100%);
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 6px 18px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 12px 30px rgba(0, 0, 0, 0.15);
  --error: #d65454;
  --title-font: "Merriweather", serif;
  --general-font: "Open Sans", sans-serif;
  --title-sm: 1.5rem;
  --title-md: 2.8rem;
  --title-lg: 4.7rem; 
  --title-mobile-sm: 1.5rem;
  --title-mobile-md: 2.8rem;
  --title-mobile-lg: 3.5rem;
  --breakpoint-sm: 620px;
  --breakpoint-md: 990px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1400px;
}
::selection {
  background-color: var(--green-light);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
html,
main,
body {
  font-family: var(--general-font);
  font-size: 14px;
  color: var(--gray-dark);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
.process-number,
.process-text {
  font-family: "Merriweather", serif;
  color: var(--gray-dark);
  font-weight: 500;
}
h5,
h6,
.contact-text {
  font-family: "Open Sans", sans-serif;
  color: var(--gray-dark);
}
h1,
.process-number {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
h4,
.process-text {
  font-size: 1.5rem;
}
h5,
.contact-text {
  font-size: 1.25rem;
  font-weight: 700;
}
h6 {
  font-size: 1.125rem;
  font-weight: 400;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: var(--gray-dark);
}
a:hover {
  color: var(--green-dark);
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}
.section {
  margin: 100px 0px 50px 0px;
}
.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.title {
  max-width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 620px) {
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 990px) {
  .container {
    /* width: 80%; */
  }
  .title {
    max-width: 60%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 1600px) {
  .container {
    width: 70%;
  }
}



/* Button */
button,
.btn-shape {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 30px;
  color: var(--white);
  box-shadow: var(--shadow-sm);
  border-radius: 35px;
  border: none;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.purple-btn {
  background-color: var(--purple);
  border: 2px solid var(--purple);
}
.green-btn {
  background-color: var(--green);
  border: 2px solid var(--green);
}
.outline-purple {
  border: 2px solid var(--purple);
  color: var(--purple);
  background: transparent;
}
.outline-green {
  border: 2px solid var(--green);
  color: var(--green);
  background: transparent;
}
.link-purple {
  background: none;
  border: none;
  box-shadow: none;
  color: var(--purple);

  padding: 0px;
  margin: 20px 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.link-dark {
  text-align: center;
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  color: var(--gray);

  /* padding: 0px; */
  margin: 0;
  padding: 10px 10px;
  font-size: 14px;
  text-transform: none;
}
/* Button Hover */
.purple-btn:hover {
  border: 2px solid var(--dark-purple);
  color: white;
  background: var(--dark-purple);
  /* background: transparent; */
}
.green-btn:hover {
  border: 2px solid var(--white);
  color: var(--green);
  background: var(--white);
}
.outline-purple:hover {
  border: 2px solid var(--purple);
  color: white;
  background: var(--purple);
}
.link-purple:hover {
  color: var(--dark-purple);
  border-bottom: 2px solid var(--dark-purple);
  border-radius: 0px;
}
.link-dark:hover {
  color: var(--gray-dark);
  background-color: var(--green-light);
}
/* Button Active */
.purple-btn:active {
  border: 2px solid var(--dark-purple);
  color: white;
  background: var(--dark-purple);
  transform: scale(0.9);
}
.outline-purple:active {
  border: 2px solid var(--dark-purple);
  color: white;
  background: var(--dark-purple);
  transform: scale(0.9);
}
.link-purple:active {
  transform: scale(0.9);
}
/* Highlight text with gradient */
.highlight {
  animation: gradient-fill 5s linear infinite;
  transform: translateZ(0);
  background-size: 100% 100%;
  background-image: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
/* Formas en BG */
.line-top {
  content: " ";
  width: 100%;
  height: 100px;
  position: absolute;
  top: 660px;
  left: 0px;
  background: url(./Assets/Shapes/Rectangle-purple-top-mobile.svg) no-repeat
    center;
  background-size: contain;
}
.line-bottom {
  content: " ";
  width: 100%;
  height: 70px;
  position: relative;
  top: 0px;
  left: 0px;
  background: url(./Assets/Shapes/Rectangle-purple-white-bottom-mobile.svg)
    no-repeat center;
  background-size: cover;
}
@media only screen and (min-width: 620px) {
  .line-top {
    content: " ";
    height: 240px;
    position: absolute;
    top: 486px;
    left: 0px;
    background: url(./Assets/Shapes/Rectangle-purple-top-desktop.svg) no-repeat
      center;
    background-size: cover;
  }
  .line-bottom {
    height: 200px;
    top: 50px;
    left: 0px;
    background: url(./Assets/Shapes/Rectangle-purple-white-bottom-desktop.svg)
      no-repeat center;
    background-size: cover;
  }
}

/* Social icons */
.social-icons-footer {
  display: inline-flex;
  justify-content: center;
}
.social-icons {
  margin: 50px 10px;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-dark);
}
.social-icon:hover {
  color: var(--green-dark);
}
.svg-inline--fa {
  height: 30px;
  padding: 10px;
}
.social-text {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 900;
}

/* Footer */
#footer {
  background: var(--gray-dark);
}
.logo-footer {
  cursor: pointer;
  font-weight: 900;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--white);
}
.logo-footer:hover {
  color: var(--green);
}

.footer-container {
  padding: 10px;
}
.footer-box {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-footer a {
  padding: 5px;
  color: var(--green);
}

.social-icons-footer {
  margin: 30px 0 20px 0;
}
.social-icons-footer svg {
  color: var(--white);
}
.social-icons-footer svg:hover {
  color: var(--green);
}

.footer-copyright {
  color: var(--bg-light-purple);
  padding: 10px;
  border-top: 1px solid var(--gray-dark);
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-text p {
  font-family: "Courier New", Courier, monospace;
}
.footer-bottom {
  margin: 10px;
}
.footer-heart {
  margin: 0;
  padding: 0;
  height: 15px;
}
@media only screen and (min-width: 650px) {
  .footer-box {
    padding: 80px 0;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-footer {
    align-items: flex-start;
  }
  .footer-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo-footer {
    margin: 0;
  }
}
/* Scroll Top */
.scroll-top {
  position: fixed;
  left: 80%;
  bottom: 100px;
  height: 20px;
  font-size: 5rem;
  z-index: 1;
  color: var(--purple);
  filter: opacity(0.8);
}
.fa-scroll-top {
  height: 40px;
}

@media only screen and (min-width: 650px) {
  .scroll-top {
    left: 90%;
  }
}

/* Forms & Pages*/
#trialClassForm,
#login {
  margin-top: 100px;
  height: 1010px;
  text-align: center;
}
#form {
  margin: 10px;
}
.infoForm {
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoForm h3 {
  margin: 40px 0 10px 0;
}
.login-link {
  margin: 70px 0 0 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.terms-conditions {
  font-size: 10px;
  max-width: 500px;
  text-align: center;
}
@media only screen and (min-width: 650px) {
  .login-link {
    margin: 70px auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Thanks Page */
#thanks,
#error {
  margin-top: 120px;
  /* height: 700px; */
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#thanks h1,
#thanks h3 {
  margin: 5px 0 0 0;
}
#thanks h3 {
  width: 50%;
}
.img-see-you {
  width: 100%;
  height: 340px;

  background: url(./Assets/images/Seeyou.png) no-repeat center;
  background-size: contain;
}
@media only screen and (min-width: 650px) {
  .img-see-you {
    height: 500px;
  }
}
#error h1 {
  margin-bottom: 0;
}
#error h3 {
  margin: 0;
}
.img-error {
  width: 100%;
  height: 500px;
  background: url(./Assets/images/404.png) no-repeat center;
  background-size: contain;
}

/* Errors pop up */
#error-popup {
  display: none;
  margin: 0 auto;
  max-width: 500px;
  justify-content: center;
  align-items: center;

  color: var(--error);
}
